.wrapper {
    position: relative;
    display: inline-block;
}

#searchIcon {
    height: 2.5rem;
    width: 2.5rem;
    padding: 4px;
    position: absolute;
    box-sizing: border-box; /*padding and border are included within the element's specified width and height*/
    top: 50%;
    right: 8px;
    transform: translateY(-50%); /* Ensures the icon doesn't interfere with input interaction */
    pointer-events: none;
}

input {
    height: 50px;
    width: 400px;
    box-sizing: border-box;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#search-bar {
    margin-left: 25%;
}