#main-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7%;
    margin-right: 5%;
}

#main-nav h1 {
    padding-right: 115%;
}

#main-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

#main-links li {
    margin-left: 15%;
    margin-top: 2%;
}