#start-nav {
    display: flex;
}

#start-nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-left: 0;
    gap: 15%;
    width: 100%;
}

#myth-title {
    padding-right: 72%;
}

#loginlink {
    width: 80%;
    padding-top: 34%;
}

#signuplink {
    width: 80%;
    padding-top: 32%;
}