.book-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 7%;
}

.image-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-info {
    display: flex;
    flex-direction: column;
}

.text-info h2 {
    margin-top: 0;
}

.text-info p {
    text-wrap: balance;
}